In [1]:
# Read CSV from OneLake (Fabric)
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(
        "abfss://94910407-0b7b-4043-96d7-ad567374a8fd@onelake.dfs.fabric.microsoft.com/9ef8c1c9-dd44-4787-b11a-608415ca72fc/Files/GlobalLandTemperaturesByCity_ENHANCED_v2.csv"
    )

# Save raw data as Delta table in Lakehouse
df.write \
  .mode("overwrite") \
  .format("delta") \
  .saveAsTable("raw_global_land_temperatures")

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 3, Finished, Available, Finished)

In [2]:
# Check if data is loaded
df_check = spark.read.table("raw_global_land_temperatures")

# Show sample records
df_check.show(5)

# Check number of rows
df_check.count()

# Check schema
df_check.printSchema()

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 4, Finished, Available, Finished)

+----------+------------------+-----------------------------+---------+------------+---------+--------+---------+--------+---------+-------------+----+-----+------+
|      Date|AverageTemperature|AverageTemperatureUncertainty|     City|     Country|   Region|Latitude|Longitude|Humidity|WindSpeed|Precipitation|Year|Month|Season|
+----------+------------------+-----------------------------+---------+------------+---------+--------+---------+--------+---------+-------------+----+-----+------+
|10/05/1992|             27.92|                         0.64|   Sydney|   Australia|Australia|  33.86S|  151.21E|    56.7|     1.95|          0.0|1992|    5|Spring|
|03/06/2020|             26.24|                         0.27|    Delhi|       India|     Asia|  28.70N|   77.10E|    48.3|     8.11|         0.37|2020|    6|Summer|
|23/09/2013|              6.04|                         0.36|Cape Town|South Africa|   Africa|  33.92S|   18.42E|    52.0|     7.11|         4.57|2013|    9|Autumn|
|15/03/1995|              31.8|                         0.14|    Paris|      France|   Europe|  48.85N|    2.35E|    66.5|     2.97|         4.97|1995|    3|Spring|
|07/10/2004|              5.68|                         0.19|   Sydney|   Australia|Australia|  33.86S|  151.21E|    71.1|     6.88|         7.74|2004|   10|Autumn|
+----------+------------------+-----------------------------+---------+------------+---------+--------+---------+--------+---------+-------------+----+-----+------+
only showing top 5 rows

root
 |-- Date: string (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Humidity: double (nullable = true)
 |-- WindSpeed: double (nullable = true)
 |-- Precipitation: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Season: string (nullable = true)

In [3]:
from pyspark.sql.functions import col, avg

# 1) Read raw table
df = spark.read.table("raw_global_land_temperatures")

# 2) Clean data
df_clean = (
    df.dropDuplicates()
      .na.drop(subset=["Date", "AverageTemperature", "City", "Country"])
      .withColumn("Date", col("Date").cast("date"))
      .withColumn("AverageTemperature", col("AverageTemperature").cast("double"))
)

# 3) Save cleaned detailed table
df_clean.write \
    .mode("overwrite") \
    .format("delta") \
    .saveAsTable("clean_global_land_temperatures")

# 4) Simple final table: avg temp per country and year
df_final = (
    df_clean
      .groupBy("Country", "Year")
      .agg(avg("AverageTemperature").alias("avg_temperature"))
)

df_final.write \
    .mode("overwrite") \
    .format("delta") \
    .saveAsTable("final_avg_temp_country_year")

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 5, Finished, Available, Finished)

In [4]:
# Store cleaned dataset as Delta table in Fabric Lakehouse

df_clean.write \
    .mode("overwrite") \
    .format("delta") \
    .saveAsTable("clean_global_land_temperatures")

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 6, Finished, Available, Finished)

In [5]:
%%sql
-- SQL Query 1: Average temperature by country
SELECT
    Country,
    AVG(AverageTemperature) AS avg_temperature
FROM clean_global_land_temperatures
GROUP BY Country
ORDER BY avg_temperature DESC;

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 7, Finished, Available, Finished)

In [6]:
%%sql
-- SQL Query 2: Average temperature by year
SELECT
    Year,
    AVG(AverageTemperature) AS avg_temperature
FROM clean_global_land_temperatures
GROUP BY Year
ORDER BY Year;

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 8, Finished, Available, Finished)

In [7]:
# 1) Load the cleaned table
df = spark.read.table("clean_global_land_temperatures")

# 2) Look at a few rows
df.show(10)

# 3) See the schema (column names and types)
df.printSchema()

# 4) Basic stats for numeric columns
df.describe().show()

# 5) How many rows and columns?
row_count = df.count()
col_count = len(df.columns)
print("Rows:", row_count, " Columns:", col_count)

# 6) List some countries
df.select("Country").distinct().show(20)

# 7) Average temperature by country (quick check)
from pyspark.sql.functions import avg
df.groupBy("Country").agg(avg("AverageTemperature").alias("avg_temp")).show(20)

StatementMeta(, a50fd072-d91d-489f-9acc-727a4342e4b0, 9, Finished, Available, Finished)

+----+------------------+-----------------------------+-----------+-------------+-------------+--------+---------+--------+---------+-------------+----+-----+------+
|Date|AverageTemperature|AverageTemperatureUncertainty|       City|      Country|       Region|Latitude|Longitude|Humidity|WindSpeed|Precipitation|Year|Month|Season|
+----+------------------+-----------------------------+-----------+-------------+-------------+--------+---------+--------+---------+-------------+----+-----+------+
|NULL|             22.48|                         0.78|Los Angeles|United States|North America|  34.05N|  118.24W|    62.8|     3.11|         3.92|2019|    4|Spring|
|NULL|             20.18|                         0.61|  Cape Town| South Africa|       Africa|  33.92S|   18.42E|    55.7|     5.23|         0.36|1997|    8|Summer|
|NULL|             15.82|                         0.67|Los Angeles|United States|North America|  34.05N|  118.24W|    63.4|    11.21|          0.0|2007|    1|Winter|
|NULL|             23.35|                         0.86|  Cape Town| South Africa|       Africa|  33.92S|   18.42E|    42.2|    11.27|         6.17|2015|    5|Spring|
|NULL|             17.28|                         0.69|     Munich|      Germany|       Europe|  48.13N|   11.58E|    56.3|     1.15|         3.62|1990|    5|Spring|
|NULL|             13.06|                         0.84|      Delhi|        India|         Asia|  28.70N|   77.10E|    30.6|     0.55|         5.92|2012|    9|Autumn|
|NULL|              23.9|                         0.42|      Paris|       France|       Europe|  48.85N|    2.35E|    63.2|     9.81|         4.42|2012|    2|Winter|
|NULL|             21.92|                         0.97|  Cape Town| South Africa|       Africa|  33.92S|   18.42E|    49.5|    14.76|        10.32|2014|    5|Spring|
|NULL|             26.75|                         0.46|      Delhi|        India|         Asia|  28.70N|   77.10E|    84.6|    14.36|          0.0|2015|    6|Summer|
|NULL|             15.77|                         0.14|Los Angeles|United States|North America|  34.05N|  118.24W|    66.3|    10.49|         7.28|1995|    6|Summer|
+----+------------------+-----------------------------+-----------+-------------+-------------+--------+---------+--------+---------+-------------+----+-----+------+
only showing top 10 rows

root
 |-- Date: date (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Humidity: double (nullable = true)
 |-- WindSpeed: double (nullable = true)
 |-- Precipitation: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Season: string (nullable = true)

+-------+------------------+-----------------------------+------+-------------+-------------+--------+---------+------------------+-----------------+------------------+----------------+-----------------+------+
|summary|AverageTemperature|AverageTemperatureUncertainty|  City|      Country|       Region|Latitude|Longitude|          Humidity|        WindSpeed|     Precipitation|            Year|            Month|Season|
+-------+------------------+-----------------------------+------+-------------+-------------+--------+---------+------------------+-----------------+------------------+----------------+-----------------+------+
|  count|              5000|                         5000|  5000|         5000|         5000|    5000|     5000|              5000|             5000|              5000|            5000|             5000|  5000|
|   mean|13.810308000000031|           0.5509440000000005|  NULL|         NULL|         NULL|    NULL|     NULL| 60.23763999999994|7.834819999999998|3.7426059999999923|       2005.0364|           6.4764|  NULL|
| stddev| 9.748065595886612|          0.25881140920196416|  NULL|         NULL|         NULL|    NULL|     NULL|17.140004526879117|4.192975508672006| 3.784688674440273|9.00347086059079|3.421079332134722|  NULL|
|    min|            -11.84|                          0.1|Berlin|    Australia|       Africa|  28.70N|   11.58E|              30.0|             0.51|               0.0|            1990|                1|Autumn|
|    max|             42.26|                          1.0| Tokyo|United States|North America|  52.52N|   77.10E|              90.0|            14.99|             19.13|            2020|               12|Winter|
+-------+------------------+-----------------------------+------+-------------+-------------+--------+---------+------------------+-----------------+------------------+----------------+-----------------+------+

Rows: 5000  Columns: 14
+-------------+
|      Country|
+-------------+
|      Germany|
|       France|
|United States|
|        India|
|        Japan|
|    Australia|
| South Africa|
+-------------+

+-------------+------------------+
|      Country|          avg_temp|
+-------------+------------------+
|      Germany| 8.316032171581769|
|       France|12.300661764705882|
|United States|10.121140121845087|
|        India| 24.83127041742285|
|        Japan|13.282400722021649|
|    Australia| 17.79499082568806|
| South Africa|19.863197026022313|
+-------------+------------------+